body
{
    background-color: #FFFDD0;
}

.center
{
    text-align: center;
}

#headshot
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 300px;
    height: auto;
}

.aboutme-btn
{
    margin-bottom: 10px;
    margin-top: 10px
}
.aboutme-section
{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 5%;
}

.aboutme-text
{
    font-size: medium;
    margin: 10px;
}

#contact-section
{
    width: 40%;
}

.links-row
{
    margin-left: 400px;
    margin-right: 400px;
}

.link
{
    width: auto;
    height: auto;
    background-color: #FFFDD0;
    text-align: center;
}

.resume-field
{
    background-color: #D0D2FF;
    width: 60%;
    height: auto;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
}